<div class="row">
    <form class="col s12" action="/search" method="POST">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">search</i>
                if query
                    <input id="icon_prefix" type="text" class="validate" name="query" value="#{query}">
                else 
                    <input id="icon_prefix" type="text" class="validate" name="query">

                <label for="icon_prefix">Search for suspicious twitter users handles</label>
            </div>
        </div>
    </form>
</div>