extends layout.pug

block content
    <div class="container">
        //- Have all the cool things showing where they need to be shown
        <div class="container">
            <br>
            <img src="/img/botsleuth.png" class="responsive-img" />
        </div>
        
        include includes/search-bar.pug
        
        <p class="flow-text">Weeding out the fakes to unmask Zupta bots and sock puppets</p>
    </div>