extends layout.pug

block content
    <div class="container">
        //- Have all the cool things showing where they need to be shown
        <p class="flow-text">BotSleuth has no clue what you are looking for</p>
    </div>